//! **************************************************************************
// Written by: Map P.20131013 on Thu Jun 25 16:44:15 2015
//! **************************************************************************

SCHEMATIC START;
COMP "LCD_DATA<0>" LOCATE = SITE "F6" LEVEL 1;
COMP "LCD_DATA<1>" LOCATE = SITE "D3" LEVEL 1;
COMP "LCD_DATA<2>" LOCATE = SITE "E4" LEVEL 1;
COMP "LCD_DATA<3>" LOCATE = SITE "G6" LEVEL 1;
COMP "LCD_DATA<4>" LOCATE = SITE "H7" LEVEL 1;
COMP "LCD_DATA<5>" LOCATE = SITE "D1" LEVEL 1;
COMP "LCD_DATA<6>" LOCATE = SITE "D2" LEVEL 1;
COMP "LCD_DATA<7>" LOCATE = SITE "F3" LEVEL 1;
COMP "clk" LOCATE = SITE "R10" LEVEL 1;
COMP "rst" LOCATE = SITE "N3" LEVEL 1;
PIN rst_pin<0> = BEL "rst" PINNAME PAD;
PIN "rst_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "LCD_DI" LOCATE = SITE "C1" LEVEL 1;
COMP "LCD_RW" LOCATE = SITE "C2" LEVEL 1;
COMP "LCD_ENABLE" LOCATE = SITE "F5" LEVEL 1;
COMP "LCD_CS1" LOCATE = SITE "F4" LEVEL 1;
COMP "LCD_CS2" LOCATE = SITE "E1" LEVEL 1;
COMP "LCD_RST" LOCATE = SITE "E3" LEVEL 1;
SCHEMATIC END;

